<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A leaderboard Fluxer bot with privacy in mind">
    <meta name="keywords" content="fluxer leaderboard statistics bot">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <meta name="googlebot" content="notranslate">
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["Dashboard.styles.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap-icons.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Dashboard.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="ledger.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
