@page "/global"
@page "/global/{page:int}"

@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@
@using Fluxify.Rest
@using Ledger.Services
@using Database
@using Database.Services
@using Microsoft.AspNetCore.Mvc.ModelBinding
@inject LeaderboardDbService db
@inject BotRestClient rest
@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider

@using Dashboard.Models

<PageTitle>Global Leaderboard</PageTitle>
<h1>Leaderboard</h1>
@if (users == null)
{
    <p><em>There seems to be no users with experience on this server...</em></p>
}
else
{
    <table class="table w-100 align-middle text-center">
        <thead>
            <tr>
                <td>Position</td>
                <td>Name</td>
                <td>Messages</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Position</td>
                    <td>@user.Name</td>
                    <td>@user.Messages</td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="d-flex justify-content-center gap-2 mt-3">
    @if (page > 0)
    {
        <a href="/global/@(page - 1)" class="btn btn-secondary">Previous</a>
    }
    <span class="btn disabled">Page @(page + 1)</span>
    @if (HasNextPage)
    {
        <a href="/global/@(page + 1)" class="btn btn-secondary">Next</a>
    }
</div>
@code {
    [Parameter] public int page { get; set; } = 0;
    private User[]? users;

    private const int PageSize = 50;
    private bool HasNextPage = false;
    protected override async Task OnInitializedAsync()
    {
       
        var db_users = await db.GetGlobalLeaderboard(page, PageSize, PageSize + 1) ?? new();
        HasNextPage = db_users.Count > PageSize;
        db_users = db_users.Take(PageSize).ToList();
        var actual_users = new List<User>();
        var idx = (page * PageSize) + 1;
        foreach (var user in db_users)
        {
            try
            {
                var fluxerUser = await rest.Users[user.User.UserId].GetAsync();
                actual_users.Add(new User
                {
                    Name = fluxerUser.Username,
                    Messages = user.Messages,
                    Position = idx++
                });
            }
            catch (Fluxify.Rest.RestApiException)
            {
                actual_users.Add(new User
                {
                    Name = "Unknown User",
                    Messages = user.Messages,
                    CurrentLevel = user.Level,
                    Position = idx++
                });
            }
        }
        users = actual_users.ToArray();

    }

    private class User
    {
        public string Name { get; set; }
        public long Messages { get; set; }
        public int CurrentLevel { get; set; }
        public int Position { get; set; }
    }
}